.product-modal {
  width: 60%;
  height: 60%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* ============= images ============= */

.product-modal .images {
  height: 100%;
  padding: 1.5rem 0;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.product-modal img {
  border: 4px solid var(--s-color);
  object-fit: cover;
  object-position: center;
}

.product-modal img:hover {
  cursor: pointer;
  border-color: var(--p-color);
}

.product-modal .bannerImage {
  width: 90%;
  height: 60%;
}

.product-modal .bannerImage img {
  width: 100%;
  height: 100%;
}

.product-modal .bannerImage img:hover {
  cursor: zoom-in;
}

.product-modal .previewImages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row;
  width: 80%;
  height: 40%;
}

.product-modal .previewImages img,
.product-modal .previewImages > .no-image {
  width: 30%;
  height: 50%;
}

.product-modal .no-image {
  width: 100%;
  height: 100%;
  background: var(--s-color);
  cursor: no-drop;
}

/* ============= informations ============= */

.product-modal .informations {
  height: 100%;
  width: 40%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: left;
  padding: 0.5rem;
}

/* ============= name ============= */

.product-modal .name {
  background: var(--s-color);
  color: white;
  width: 100%;
  padding: 0.5rem 0;
  text-align: center;
  font-weight: normal;
}

/* ============= category ============= */

.product-modal .category {
  font-size: 0.5rem;
  color: rgba(128, 128, 128, 0.712);
}

/* ============= avaliation ============= */

.product-modal .avaliation {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column;
}

.product-modal .avaliation > span {
  color: rgba(0, 0, 0, 0.711);
  font-size: 0.6rem;
}

/* ============= description ============= */

.product-modal .description {
  width: 100%;
  color: black;
  font-size: 0.8rem;
}

/* ============= price ============= */

.product-modal .price {
  font-size: 2rem;
}

/* ============= container ============= */

.product-modal .container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* ============= favorite ============= */

.product-modal .container .favorite {
  color: var(--p-color);
  margin-left: 1rem;
}

/* ============= quantity ============= */

.product-modal .quantity {
  width: 100%;
}

.product-modal .quantity span {
  font-size: 2rem;
  margin: 0 1rem;
}

.product-modal .quantity .icons:hover {
  cursor: pointer;
  color: var(--p-color);
}

/* ============= buttons ============= */

.product-modal .cart,
.product-modal .buy {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.product-modal .cart span,
.product-modal .buy span {
  width: 80px;
  margin: 0 0.2rem;
}

/* ============= id ============= */

.product-modal .id {
  position: absolute;
  left: 5px;
  bottom: 5px;
  font-size: 0.6rem;
  color: rgba(0, 0, 0, 0.579);
}
