.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  background: #000000d4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .msg {
  color: var(--s-color);
}

.modal .close-button {
  width: 32px;
  height: 32px;
  position: absolute;
  top: -15px;
  right: -15px;
  color: var(--p-color);
  z-index: 1;
}

.modal .close-button .icons {
  font-size: 2rem;
  border-radius: 50%;
  background: white;
}

.modal .left-arrow-effect,
.modal .right-arrow-effect {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

.modal .left-arrow-effect {
  animation-name: left-arrow-effect;
}

@keyframes left-arrow-effect {
  from {
    position: relative;
    left: -5px;
  }
}

.modal .right-arrow-effect {
  animation-name: right-arrow-effect;
}

@keyframes right-arrow-effect {
  from {
    position: relative;
    left: 5px;
  }
}
