.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.home .products {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
}

.home .filter {
  width: 40%;
  height: 100%;
}

.home .list {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
