.error-404 {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.error-404 h1 {
  font: bold 2.5rem 'Retron2000';
  color: var(--p-color);
}

.error-404 span {
  margin-top: 1rem;
  font: normal 1rem 'Retron2000';
}
