/* ========= mini nav ========== */
.header .mini-nav {
  width: 100%;
  height: 15%;
  background: black;
  position: relative;
  width: 100%;
}

.header .nav-button {
  color: var(--s-color);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  font-size: 0.7rem;
  font-weight: normal;
  box-shadow: 2px 2.5px 0px 1px black;
  background: var(--s-color);
  margin: 0 0.5rem;
}
.header .nav-button:hover {
  cursor: pointer;
}

.header .nav-button.active {
  background: var(--p-color) !important;
}

.header .mini-nav ul .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header .mini-nav ul,
.header .mini-nav ul .right {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .mini-nav li a {
  color: white;
}

.header .mini-nav li {
  font-size: 0.6rem;
  font-weight: normal;
  margin: 0 0.4rem;
  border-bottom: 2px solid transparent;
  padding: 0.2rem 0;
}

.header .mini-nav li:hover {
  border-bottom: 2px solid white;
  cursor: pointer;
}

.carrossel-container {
  width: 500px;
  overflow: hidden;
}

.carrossel-effect {
  animation-name: carrossel-effect;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 30s;
}

@keyframes carrossel-effect {
  0% {
    transform: translateX(-450px);
  }

  100% {
    transform: translateX(500px);
  }
}

/* ========= user nav ========== */
.header .user-nav {
  height: 50%;
  padding: 0 2rem;
  position: relative;
}

.header .user-nav ul {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .user-nav ul li {
  font: normal 0.8rem 'Retron2000';
  align-items: center;
}

.header .user-nav ul li a {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: flex-end;
  border-bottom: 4px solid transparent;
}

.header .user-nav ul li a .icons {
  font-size: 1.2rem;
  margin-right: 1rem;
}

.header .user-nav ul li a.active {
  border-bottom: 4px solid var(--s-color);
}

.header .user-nav .right {
  align-items: center;
}

.header .user-nav ul .right {
  display: flex;
}

.header .user-nav ul .right li {
  margin: 1rem;
}

.header .user-nav ul li:hover {
  cursor: pointer;
  color: var(--p-color);
}

.header .user-nav .logo {
  position: absolute;
  left: 51%;
  top: 60%;
  transform: translate(-50%, -50%);
}

.header .user-nav .logo .retroarcadestore {
  width: 400px;
}

.header .user-nav .logo .paradise {
  width: 50px;
  position: absolute;
  top: 15px;
  right: -30px;
}

.paradise-effect {
  animation-name: paradise-effect;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
}

@keyframes paradise-effect {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.4);
  }
}

.header .user-nav .authentication,
.header .user-nav .user {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ========= app nav ========== */
.header .app-nav {
  height: 30%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.header .app-nav ul {
  display: flex;
  justify-items: center;
}
