.search {
  width: 60%;
  margin: 1rem 0;
}

.search label {
  width: 100%;
  position: relative;
}

.search button {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 2px;
  top: -32px;
  border: none;
  background: none;
}

.search .icons {
  font-size: 1rem;
  cursor: pointer;
  position: absolute;
  color: var(--s-color);
}

.search .icons:hover {
  color: var(--p-color);
}

.search input {
  font: normal 0.8rem 'Retron2000';
  text-transform: uppercase;
}

/* clears the 'X' from Internet Explorer */
input[type='search']::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type='search']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}
