.login-modal {
  width: 25%;
  height: 40%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.login-modal .title {
  font-size: min(1rem, 0.9vw);
  color: white;
  background: var(--s-color);
  padding: 0.5rem 0.5rem;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}

.login-modal .form {
  width: 80%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.login-modal .msg {
  margin: 1rem 0;
  font-size: min(1.5rem, 1vw);
}

.login-modal label {
  width: 100%;
}

.login-modal .buttons {
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  position: relative;
  top: 20px;
}
