/* base layout */

html,
body {
  width: 100%;
  height: 100%;
}

.msg-app-error {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background: var(--p-color);
}

.msg-app-error .title {
  font-size: min(1.8rem, 1.8vw);
  color: white;
  text-align: center;
}

.msg-app-error .msg,
.msg-app-error .trying-reconnect {
  color: rgba(255, 255, 255, 0.768);
  font-size: min(1rem, 1vw);
  margin: 0.3rem 0;
}

.msg-app-error .btn {
  color: white;
  border: 4px solid white;
  padding: 0.5rem 1.5rem;
  margin: 1rem;
}

.msg-app-error .btn:hover {
  cursor: pointer;
  background: white;
  color: var(--p-color);
}

.msg-app-error .trying-reconnect::after {
  animation-name: trying-reconnect;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  content: '';
}

@keyframes trying-reconnect {
  0% {
    content: '.';
  }

  50% {
    content: '..';
  }

  100% {
    content: '...';
  }
}
