@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
  font-family: 'Retron2000';
  src: url('/public/assets/fonts/Retron2000.ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-weight: normal;
}

:root {
  --p-color: #f24b59;
  --s-color: #262554;
  --t-color: #f29d35;
}

body {
  color: var(--s-color);
  font: normal 0.8rem 'Retron2000';
  text-transform: uppercase;
}

.nav-button {
  color: var(--s-color);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  font-size: 0.7rem;
  font-weight: normal;
  cursor: pointer;
  box-shadow: 2px 2.5px 0px 1px black;
  background: var(--s-color);
  margin: 0 0.5rem;
}

.active {
  background: var(--p-color) !important;
}

.icons {
  font-size: 1.5rem;
}

form label span {
  margin-bottom: 0.3rem;
  font-size: 0.8rem;
}

form label {
  margin-bottom: 0.5rem;
  display: flex;
  flex-flow: column;
  position: relative;
}

form input {
  width: 100%;
  padding: 1.5% 1% 1.5% 2rem;
  border: 1px solid var(--s-color);
  outline: 1px solid var(--s-color);
  font: bold 0.9rem 'Roboto';
  color: #1a1a3a;
}

form label .icons {
  font-size: 1.2rem;
  position: absolute;
  top: 26.5px;
  left: 8px;
}

form input::placeholder {
  font: normal 0.8rem 'Retron2000';
  text-transform: uppercase;
}

form input:focus {
  border-color: var(--p-color);
  outline: 1px solid var(--p-color);
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.btn {
  border: none;
  background: none;
  font-family: 'Retron2000';
  text-transform: uppercase;
  padding: 0.5rem 1rem;
}

.btn:hover {
  cursor: pointer;
}

.btn.btn-primary {
  color: white;
  opacity: 0.9;
  background: var(--p-color);
  border-radius: 10px;
  box-shadow: 2px 3px 0px black;
  transition: 0.2s;
}

.btn.btn-primary.disabled {
  color: white;
  opacity: 0.9;
  background: rgb(170, 170, 170);
  border-radius: 10px;
  box-shadow: 2px 3px 0px black;
  transition: 0.2s;
}

.btn.btn-primary:hover {
  opacity: 1;
}

.btn.btn-secondary {
  color: var(--t-color);
  background: none;
  border: 2px solid var(--t-color);
}

.btn.btn-secondary:hover {
  background: var(--t-color);
  color: white;
}

.close {
  position: absolute;
  top: -20px;
  right: -30px;
  color: var(--p-color);
  z-index: 1;
}

.close .icons {
  font-size: 2rem;
  border-radius: 50%;
  background: white;
}

.zoom-in-image {
  animation-name: zoom-in-image;
  animation-duration: 0.3s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-fill-mode: forwards;
}

@keyframes zoom-in-image {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}

.zoom-out-image {
  animation-name: zoom-out-image;
  animation-duration: 0.2s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

  animation-fill-mode: forwards;
}

@keyframes zoom-out-image {
  from {
    transform: scale(1.3);
  }
  to {
    transform: scale(1);
  }
}

.authentication-error-effect {
  animation-name: authentication-error-effect;
  animation-duration: 1s;
  animation-iteration-count: 5;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

@keyframes authentication-error-effect {
  from {
    background: var(--s-color);
  }
  to {
    background: var(--p-color);
  }
}
