@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
  font-family: 'Retron2000';
  src: url('/assets/fonts/Retron2000.ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-weight: normal;
}

:root {
  --p-color: #f24b59;
  --s-color: #262554;
  --t-color: #f29d35;
}

body {
  color: var(--s-color);
  font: normal 1rem 'Retron2000';
  text-transform: uppercase;
}

.section-title {
  border-left: 8px solid var(--s-color);
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
}

.icons {
  font-size: 1.5rem;
}

a {
  color: var(--s-color);
}

form label span {
  margin-bottom: 0.3rem;
  font-size: 0.8rem;
}

form label {
  margin-bottom: 0.5rem;
  display: flex;
  flex-flow: column;
  position: relative;
}

form input,
form select {
  width: 100%;
  padding: 0.35rem 1rem 0.35rem 2rem;
  border: 1px solid var(--s-color);
  outline: 1px solid var(--s-color);
  font: bold 0.9rem 'Roboto';
  font-size: min(1rem, 1vw);
  color: #1a1a3a;
}

form select:hover {
  cursor: pointer;
}

form select option {
  font: bold 0.9rem 'Roboto';
  cursor: pointer;
}

form input.mark-input {
  border-color: var(--p-color);
  outline-color: var(--p-color);
}

form label .icons {
  font-size: 1.2rem;
  position: absolute;
  top: 29px;
  left: 8px;
}

form input::placeholder {
  font: normal 0.8rem 'Retron2000';
  text-transform: uppercase;
}

form input:focus {
  border-color: var(--p-color);
  outline: 1px solid var(--p-color);
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.btn {
  border: none;
  background: none;
  font-family: 'Retron2000';
  text-transform: uppercase;
  font-size: min(1rem, 0.8vw);
}

.btn:hover {
  cursor: pointer;
}

.btn.btn-primary {
  color: white;
  opacity: 0.9;
  background: var(--p-color);
  border-radius: 10px;
  box-shadow: 2px 3px 0px black;
  transition: 0.2s;
  padding: 0.5rem 2.5rem;
}

.btn.btn-primary[disabled] {
  color: white;
  opacity: 0.9;
  background: rgb(170, 170, 170);
  border-radius: 10px;
  box-shadow: 2px 3px 0px black;
  transition: 0.2s;
  cursor: no-drop;
}

.btn.btn-primary:hover {
  opacity: 1;
}

.btn.btn-secondary {
  color: var(--t-color);
  background: none;
  border: 2px solid var(--t-color);
  padding: 0.5rem 0.5rem;
}

.btn.btn-secondary:hover {
  background: var(--t-color);
  color: white;
}

.msg-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
