.msg {
  min-width: 500px;
  text-align: center;
  color: white;
  outline: 4px solid transparent;
  border: 4px solid transparent;
}

.msg-client-success {
  background: rgb(18, 129, 18);
  padding: 0.5rem 0;
  border-color: white;
  outline-color: rgb(18, 129, 18);
}

.msg-client-error {
  background: var(--p-color);
  padding: 0.5rem 0;
  border-color: white;
  outline-color: var(--p-color);
}
